<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node e MySQL</title>

  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
  <nav id="navbar">
    <ul>
      <li><a class="link" href="/">Cadastrar</a></li>
      <li><a class="link" href="/books">Livros</a></li>
    </ul>
  </nav>

  {{{body}}}
</body>
</html>